form {
  margin: 2rem auto;
  max-width: 30rem;
  padding: 1rem;
  border-radius: 4px;
}

label {
  display: block;
  margin-bottom: 0.15rem;
  font-weight: bold;
  color: #f2e090;
}

input,
textarea {
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  border: none;
  background-color: #545144;
  color: #fdf8df;
  border-radius: 0.25rem;
}

#actions {
  text-align: right;
}

button {
  font: inherit;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f2e090;
  color: #2c2a21;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #f3d861;
}
.modal-backdrop {
  background-color: #000;
  opacity: 0.8 !important;
}
.modal_content{
  background-color: #2c2a21;
  color: #f2e090;
}