<br/>
<header>
  <div class="container-fluid px-0">
    <div class="container-fluid px-0 d-flex justify-content-center mb-3">
  <img src="https://webdevsaravanan.github.io/img/openwith.png" alt="Centered Image" style="height: 70px; margin-left: 10px; margin-right: 10px;">
</div>
  <div class="row">
    <div class="col text-start">
      <p>
    <select name="packageName" id="packageName" (change)="onChangePackageName($event)">
      <option value="org.videolan.vlc">VLC</option>
      <option value="org.drm.player">IPTV DRM Stream Player</option>
      <!-- <option value="MxPlayerPro">MX Player Pro</option>
      <option value="Splayer">Splayer</option>
      <option value="NovaPlayer">Nova Player</option>
      <option value="MPV">MPV</option>
      <option value="JustPlayer">Just Player</option>
      <option value="nPlayer">nPlayer</option> -->
    </select>
  </p>
    </div>
    <div class="col text-end">
      @if(isAdmin) {
      <p>
    <button class="btn btn-sm btn-warning" (click)="openNewTaskModal()">Add Movie</button>
  </p>}
@if(!isAdmin) {
      <p>
    <button class="btn btn-sm btn-warning" (click)="copyPlaylist()">Copy Playlist</button>
  </p>}
    </div>
  </div>
</div>
</header>

<div class="container-fluid px-2">
  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-3">
    @for (task of tasks | async; track task.id) {
      <div class="col">
        <app-task-item [task]="task" (openMovie)="openWith($event.url, $event.title)" (taskDeleted)="onTaskDeleted($event)"/>
      </div>
    }
  </div>
</div>
@if(showPlayer) {
  <div class="video-title-overlay">
  {{ selectedMovieTitle }}
</div>
<div class="player-overlay">
  <div class="player-modal">

    <button
      class="close-btn"
      (click)="ClosePlayer()">
      ✕

    </button>

    <app-plyr-player
      [streamUrl]="selectedUrl">
    </app-plyr-player>
    <br/>
<p style="text-align: center;"><button  class="btn btn-lg btn-info" (click)="downloadMovie()">Download</button></p>
  </div>
</div>
}

