<br/>
<header>
  <div class="container-fluid px-0">
  <div class="row">
    <div class="col text-start">
      <p>
    <select name="packageName" id="packageName" (change)="onChangePackageName($event)">
      <option value="org.videolan.vlc">VLC</option>
      <option value="org.drm.player">IPTV DRM Stream Player</option>
      <!-- <option value="MxPlayerPro">MX Player Pro</option>
      <option value="Splayer">Splayer</option>
      <option value="NovaPlayer">Nova Player</option>
      <option value="MPV">MPV</option>
      <option value="JustPlayer">Just Player</option>
      <option value="nPlayer">nPlayer</option> -->
    </select>
  </p>
    </div>
    <div class="col justify-content-center">
  <img src="https://mygdrive.mvcollection.workers.dev/0:/openwith.png" alt="Centered Image" style="height: 60px; margin-left: 70px; margin-right: 10px;">
</div>
    <div class="col text-end">
      @if(isAdmin) {
      <p>
    <button class="btn btn-sm btn-warning" (click)="openNewTaskModal()">Add Movie</button>
  </p>}
    </div>
  </div>
</div>
</header>
<ul>
  @for (task of tasks | async; track task.id) {
      <li>
      <app-task-item [task]="task" (openMovie)="openWith($event)" (taskDeleted)="onTaskDeleted($event)"/>
      </li>
    }
</ul>
